<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Upload files</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id="pesquisa">
            <h1> 
                <p> Seja bem-vindo! </p>
                <p> Sistema de Upload de Arquivos </p>
            </h1>
            <form method="POST" action="/">
                <p>
                    <input type="file" name="Selecione arquivo">
                </p>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
        </div>
    </body>
</html>